html,
body,
.row{
	height: 100%;
}

.config{
	height: calc(100% - 50px);
}

html,
body {
	overflow-y: hidden;
}

body {
	background-color: #d1d1d1;
}

header{
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
}

header h3{
	font-weight: bold;
	font-size: 18px;
}

.preview{
	float: right;
	position: relative;
    top: -50px;
    right: 40px;
	cursor: pointer;
	height: 0px;
}

.preview:hover{
	color: #5FB878;
}

canvas {
	width: 100%;
	height: 100%;
	background-color: #e7e7e7;
}

.margin-top10{
	margin-top: 10px;
}

.base-component,
.data-show-layer,
.tip-chart,
.tip-style {
	cursor: pointer;
	text-align: center;
	color: #2d2d2d;
	height: 35px;
	line-height: 35px;
}

.left,
.right {
	background-color: #ffffff;
}

.center{
	/* padding: 0px 10px; */
}
.center-canvas{
	height: calc(100% - 30px);
	padding: 0px 10px;
}

.active {
	border-bottom: 3px solid #1E9FFF;
	color: #1E9FFF;
}

.div-header{
	box-shadow: 0px 5px 5px #888888;
}

.footer{
	background-color: #FFFFFF;
	height: 30px;
	line-height: 30px;
}

.div-layers{
	padding: 0px 20px;
}

.div-layer{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d2d2d2;
}

.div-icon-delete{
	text-align: center;
}

.div-layer .layui-icon-delete{
	color: red;
	cursor: pointer;
}

.div-layer .layer-name{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.div-layer .layui-icon-delete:hover{
	color: #1E9FFF;
}

.style-div-line{
	line-height: 40px;
}

.img-upload{
	width: 100%;
	border: 1px dashed #ababab;
	cursor: pointer;
}

.echart{
	margin-top: 10px;
}

/* .echart p{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
} */

.echart:first-child{
	margin-top: 0px;
}
