<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>文件管理</title>
		<link rel="stylesheet" href="layui-v2.4.5/css/layui.css" />
		<link rel="stylesheet" href="dtree/css/dtree.css" />
		<link rel="stylesheet" href="dtree/font/dtreefont.css" />
		<style>
			.left-contrainer{
				padding-top: 10px;
			}
			.rigth-contrainer{
				padding-right: 10px;
			}
			.inp{
				height: 26px;
			}
			.input{
				padding: 0px 10px;
				border: 1px;
				border-radius: 1px;
				font-size: 12px;
			}
			.btn{
				width: 26px;
				border: none;
				border-radius: 3px;
				cursor: pointer;
				color: #FFFFFF;
			}
			.btn-search{
				background-color: #1E9FFF;
			}
			.btn-mkdir{
				background-color: #FFB800;
			}
			.btn-upload{
				background-color: #5FB878;
			}
			.btn-delete{
				background-color: #FF5722;
			}
			.btn-download{
				background-color: #009688;
			}
			.form-container{
				display: none;
				padding: 20px 20px 0px 0px;
			}
		</style>
	</head>

	<body>

		<div class="layui-row">
			<div class="layui-col-xs2 left-contrainer">
				<ul id="tree" class="dtree" data-id="0"></ul>
			</div>
			<div class="layui-col-xs10 rigth-contrainer">
				<div id="tools" style="display: none;">
					<input type="text" class="layui-inline inp input" id="filepath" placeholder="文件路径" />
					<input type="text" class="layui-inline inp input" id="pattern" placeholder="文件过滤" />
					<button title="搜索" class="inp btn btn-search">
						<i class="layui-icon layui-icon-search"></i>
					</button>
					<button title="新建文件夹" class="inp btn btn-mkdir">
						<i class="layui-icon layui-icon-add-1"></i>
					</button>
					<button title="删除" class="inp btn btn-delete">
						<i class="layui-icon layui-icon-delete"></i>
					</button>
					<button title="上传" class="inp btn btn-upload">
						<i class="layui-icon layui-icon-upload"></i>
					</button>
					<button title="下载" class="inp btn btn-download">
						<i class="layui-icon layui-icon-download-circle"></i>
					</button>
				</div>
				<div id="data-table" lay-filter="data-table"></div>
			</div>
		</div>

		<script type="text/html" id="toolbar">
			<button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除">
				<i class="layui-icon layui-icon-delete"></i>
			</button>
		</script>

		<!-- 树 表单 -->
		<div class="form-container" id="save-node">
			<form class="layui-form" lay-filter="form-node" id="form-node">
				<input type="hidden" name="catalogId" id="catalogId" value="" />
				<div class="layui-form-item">
					<label class="layui-form-label">目录</label>
					<div class="layui-input-block">
						<input type="text" name="catalog" id="catalog" disabled="disabled" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">name</label>
					<div class="layui-input-block">
						<input type="text" name="name" id="name" class="layui-input" placeholder="节点或目录名称" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">目录</label>
					<div class="layui-input-block">
						<input type="checkbox" id="isCatalog" name="isCatalog" lay-skin="switch" lay-filter="node-status" lay-text="节点|目录" />
					</div>
				</div>
				<div class="node-or-leaf" style="display: none;">
					<div class="layui-form-item">
						<label class="layui-form-label">IP</label>
						<div class="layui-input-block">
							<input type="text" name="ip" id="ip" class="layui-input" placeholder="输入主节点IP" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">端口</label>
						<div class="layui-input-block">
							<input type="text" name="port" id="port" class="layui-input" placeholder="输入主节点端口" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">操作用户</label>
						<div class="layui-input-block">
							<input type="text" name="username" id="username" class="layui-input" placeholder="输入操作用户" />
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div class="form-container" id="form-mkdir">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">文件夹名</label>
					<div class="layui-input-block">
						<input type="text" name="dir" id="dir" class="layui-input" placeholder="在这里输入文件夹名" />
					</div>
				</div>
			</div>
		</div>

		<script src="layui-v2.4.5/layui.js"></script>
		<script>
			layui.extend({
				dtree: "dtree/js/dtree"
			}).use(["layer", "dtree", "jquery", "table", "form", "upload"], function() {
				var layer = layui.layer,
					dtree = layui.dtree,
					$ = layui.jquery,
					table = layui.table,
					form = layui.form,
					upload = layui.upload;

				// 表格
				var dataTable = table.render({
					id: "data-table",
					elem: "#data-table",
					url: "json/table.json?page=1&limit=10",
					toolbar: "#tools",
					cols: [
						[{
								field: "id",
								title: "ID",
								type: "checkbox"
							},
							{
								field: "promission",
								title: "Promission"
							},
							{
								field: "owner",
								title: "Owner"
							},
							{
								field: "group",
								title: "Group"
							},
							{
								field: "size",
								title: "Size"
							},
							{
								field: "lastModified",
								title: "Last Modified"
							},
							{
								field: "replication",
								title: "Replication"
							},
							{
								field: "blockSize",
								title: "Block Size"
							},
							{
								field: "name",
								title: "Name"
							},
							{
								field: "",
								title: "operation",
								toolbar: "#toolbar"
							}
						]
					]
				});

				// 树
				var Dtree = dtree.render({
					elem: "#tree",
					initLevel: "2",
					url: "http://localhost:8080/data",
					request: {
						path: "E:/delete/platform/src/main/resources/templates/file/dtree/json/data.json"
					},
					type: "all",
					toolbar: true,
					toolbarLoad: "node",
					toolbarShow: [],
					toolbarFun: {
						loadToolbarBefore: function(buttons, param, $div) {
							if (param.isLeaf) { // 如果是叶子节点
								buttons.add = ""; // 取消新增功能
							}
							return buttons; // 将按钮对象返回
						}
					},
					toolbarExt: [{
							toolbarId: "add",
							icon: "dtree-icon-jia1",
							title: "新增",
							handler: function(node) {
								console.log(node);
								$("#catalog").val(node.context);

								var add = layer.open({
									type: 1,
									title: "添加",
									content: $("#save-node"),
									area: "600px",
									btn: ["保存", "取消"],
									yes: function(index) {
										saveNode("POST", add, node);
									}
								});
							}
						},
						{
							toolbarId: "edit",
							icon: "dtree-icon-bianji",
							title: "编辑",
							handler: function(node) {
								$.ajax({
									type: "get",
									url: "json/edit-tree.json?nodeId=" + node.nodeId,
									dataType: "json",
									success: function(result) {
										// 表单默认值
										form.val("form-node", result.data);

										// 显示或隐藏
										isShow(result.data.isCatalog);

										// 弹窗
										var openLayer = layer.open({
											type: 1,
											title: "更新",
											content: $("#save-node"),
											area: "600px",
											btn: ["保存", "取消"],
											yes: function(index) {
												saveNode("PUT", openLayer, node);
											}
										});
									},
									error: function() {
										layer.msg("服务器繁忙", {
											icon: 5
										});
									}
								});
								console.log("编辑");
							}
						},
						{
							toolbarId: "delete",
							icon: "dtree-icon-delete1",
							title: "删除",
							handler: function(node) {
								layer.confirm("是否删除", {icon: 3, title: "提示"}, function(index){
// 									$.ajax({
// 										type: "delete",
// 										url: "?nodeId=" + node.nodeId,
// 										dataType: "json",
// 										success: function(result) {
// 											// TODO 删除操作
// 											
// 										},
// 										error: function() {
// 											layer.msg("服务器繁忙", { icon: 5 });
// 										}
// 									});
									
									layer.close(index);
								});
							}
						}
					]
				});

				// 树双击事件
				dtree.on("nodedblclick('tree')", function(obj) {
					if (obj.param.isLeaf) {
						// TODO 数据绑定
						console.log("数据绑定");
					} else {
						// TODO 展开或收缩节点
					}
				});

				// 开关
				form.on("switch(node-status)", function(data) {
					isShow(data.elem.checked);
				});

				// 显示或隐藏
				function isShow(show) {
					$(".node-or-leaf").css("display", show ? "block" : "none");
				}
				
				/**
				 * 保存树
				 * @param type POST:添加,PUT:更新
				 * @param openLayer 弹窗对象
				 * @param 节点
				 */
				function saveNode(type, openLayer, node) {
					// id
					var catalogId = $("#catalogId").val();

					// 开关状态
					var isCatalog = $("#isCatalog").next().attr("class").indexOf("layui-form-onswitch") != -1;

					var name = $("#name").val();
					var ip = $("#ip").val();
					var port = $("#port").val();
					var username = $("#username").val();

					var data = {
						isCatalog: isCatalog,
						parentId: node.nodeId,
						level: node.level,
						name: name,
						ip: ip,
						port: port,
						username: username
					};

					console.log(data);
					// 重置表单
					$("#form-node")[0].reset();
					// 关闭窗体
					layer.close(openLayer);
					// 重新加载树
					dtree.reload(Dtree);
					// 隐藏
					$(".node-or-leaf").css("display", "none");

					// TODO 提交表单
					// 										$.ajax({
					// 											type: type,
					// 											url: "",
					// 											dataType: "json",
					// 											success: function(result) {
					// 												console.log(result);
					// // 												// 重置表单
					// // 												$("#form-node")[0].reset();
					// // 												// 关闭窗体
					// // 												layer.close(openLayer);
					// // 												// 重新加载树
					// // 												dtree.reload(Dtree);
					// 													// 隐藏
					// 													$(".node-or-leaf").css("display", "none");
					// 											},
					// 											error: function() {
					// 												layer.msg("服务器繁忙", { icon: 5 });
					// 											}
					// 										});
				}
				
				// 搜索
				$(".btn-search").click(function() {
					dataTable.reload({
						where: {
							filepath: $("#filepath").val(),
							pattern: $("#pattern").val()
						}
					});
				});
				
				// 新建文件夹
				$(".btn-mkdir").click(function() {
					var openLayer = layer.open({
						type: 1,
						title: "新建文件夹",
						content: $("#form-mkdir"),
						area: "400px",
						btn: ["保存", "取消"],
						yes: function(index) {
							var dir = $("#dir").val();
							var filepath = $("#filepath").val();
							// TODO 创建文件夹
							console.log(dir);
							layer.close(openLayer);
						}
					});
				});
				
				// 文件删除
				$(".btn-delete").click(function() {
					// 文件路径
					var filepath = $("#filepath").val();
					var statuses = table.checkStatus("data-table");
					console.log(statuses);
				});
				
				// 文件上传
				$(".btn-upload").click(function() {
					console.log("上传");
				});
				
				// 文件上传
				upload.render({
					elem: ".btn-upload",
					url: "",
					data: {
						filepath: function() {
							return $("#filepath").val();
						}
					},
					accept: "file",
					done: function(result) {
						
					},
					error: function() {
						layer.msg("服务器繁忙", { icon: 5 });
					}
				});
				
				// 文件下载
				$(".btn-download").click(function() {
					console.log("下载");
				});
				
				// tool
				table.on("tool(data-table)", function(obj) {
					if (obj.event = "del") {
						console.log(obj);
						// TODO 
						console.log("删除");
					}
				});

			})
		</script>
	</body>
</html>
